.select{
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 5rem;
  height: 100%;
}
.show-item{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  line-height: 2.2rem;
  transition: all 0.3s ease-out;
  &:hover{
    color: #fff;
    background-color: #4cbeff;
  }
  cursor: pointer;
}
.active{
  color: #fff;
  background-color: #4cbeff;
  transition: all 0.3s ease-out;
}
.arrow{
  display: inline-block;
  margin-left: .2rem;
  width: 0;
  height: 0;
}
.arrow-def{
  border-top: .3rem solid transparent;
  border-left: .5rem solid #e6e8ea;
  border-bottom: .3rem solid transparent;
}
.arrow-act{
  border-left: .3rem solid transparent;
  border-right: .3rem solid transparent;
  border-top: .5rem solid #fff;
}
.drop-list{
  position: absolute;
  display: inline-block;
  padding: 0;
  margin: auto;
  left: 0;
  right: 0;
  list-style:none;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}
.drop-item{
  height: 2rem;
  line-height: 2rem;
  cursor: pointer;
  transition: all 0.3s ease-out;
  &:hover{
    color: #fff;
    background-color: #4cbeff;
  }
}